<?xml version="1.0"?>

<launch>

    <arg name="map_file" default="$(find airobots_ammr)/ROS/app/demo_room.yaml"/>
    <arg name="laser_topic" default="/scan"/>
    <arg name="robot_init_x" default="0"/>
    <arg name="robot_init_y" default="0"/>
    <arg name="robot_init_phi" default="0"/>

    <arg name="laser_frame" default="laser_link"/>
    <arg name="base_frame" default="base_link"/>
    <arg name="odom_frame" default="odom_link"/>
    <arg name="map_frame" default="map_link"/>

     <!-- MAP SERVER -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" output="screen">
        <param name="frame_id" value="$(arg map_frame)"/>
    </node>

    <!-- TF punlisher -->
    <node pkg="tf" type="static_transform_publisher" name="laser_to_base" args="0 0 0 0 0 0 $(arg base_frame) $(arg laser_frame) 1"/>

    <!-- SLAMTEC Laser Transformer -->
    <node pkg="slamware_ros_sdk" type="LaserFilter" name="laser_filter" output="screen">
        <param name="/FromScanTopic" value="/slamware_ros_sdk_server_node/scan"/>
        <param name="/ToScanTopic" value="$(arg laser_topic)"/>
        <param name="/ToScanFrame" value="$(arg laser_frame)"/>
        <param name="/MinAngle" value="-3.1415"/>
        <param name="/MaxAngle" value="3.1415"/>
    </node>

    <!-- Laser Scan Matcher -->
    <node name="scan_matcher" pkg="laser_scan_matcher" type="laser_scan_matcher_node" output="screen">
        <remap from="scan" to="$(arg laser_topic)"/>

        <param name="fixed_frame" value="$(arg odom_frame)"/>
        <param name="base_frame" value="$(arg base_frame)"/>
        <param name="use_imu" value="false"/>
        <param name="use_odom" value="false"/>
        <param name="use_vel" value="false"/>

    </node>

    <!-- AMCL -->
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <remap from="scan" to="$(arg laser_topic)"/>

        <param name="initial_pose_x" value="$(arg robot_init_x)"/>
        <param name="initial_pose_y" value="$(arg robot_init_y)"/>
        <param name="initial_pose_a" value="$(arg robot_init_phi)"/>

        <param name="use_map_topic" value="true"/>
        <param name="first_map_only" value="false"/>
        
        <!-- Publish scans from best pose at a max of 10 Hz -->
        <param name="odom_model_type" value="diff"/>
        <param name="odom_alpha5" value="0.2"/>
        <param name="transform_tolerance" value="0.1"/>
        <param name="gui_publish_rate" value="-1"/>
        <param name="laser_max_beams" value="30"/>
        <param name="min_particles" value="100"/>
        <param name="max_particles" value="5000"/>
        <param name="kld_err" value="0.01"/>
        <param name="kld_z" value="0.99"/>
        <param name="odom_alpha1" value="0.2"/>
        <param name="odom_alpha2" value="0.2"/>
        <!-- translation std dev, m -->
        <param name="odom_alpha3" value="0.2"/>
        <param name="odom_alpha4" value="0.2"/>
        <param name="laser_z_hit" value="0.95"/>
        <param name="laser_z_short" value="0.05"/>
        <param name="laser_z_max" value="0.05"/>
        <param name="laser_z_rand" value="0.05"/>
        <param name="laser_sigma_hit" value="0.2"/>
        <param name="laser_lambda_short" value="0.1"/>
        <param name="laser_model_type" value="likelihood_field"/>
        <!-- <param name="laser_model_type" value="beam"/> -->
        <param name="laser_likelihood_max_dist" value="2.0"/>
        <param name="update_min_d" value="-1"/>
        <param name="update_min_a" value="-1"/>
        <param name="base_frame_id" value="$(arg base_frame)"/>
        <param name="odom_frame_id" value="$(arg odom_frame)"/>
        <param name="global_frame_id" value="$(arg map_frame)"/>
        <param name="resample_interval" value="2"/>
        <param name="transform_tolerance" value="0.1"/>
        <param name="recovery_alpha_slow" value="0.0"/>
        <param name="recovery_alpha_fast" value="0.0"/>
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find airobots_ammr)/ROS/rviz/AMCL.rviz"/>

</launch>
